<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/voucher_launcher_adaptive_fore"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CloverReceiptDisplay">
        <activity
            android:name=".Main"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".BroadcastReceiver"
            android:exported="true"
            android:enabled="true">

            <intent-filter>
                <action android:name="com.clover.intent.action.PAYMENT_PROCESSED" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="com.clover.intent.action.REFUND_PROCESSED" />
                <action android:name="com.clover.intent.action.CREDIT_PROCESSED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".AppNotificationReceiver"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.clover.sdk.app.intent.action.APP_NOTIFICATION"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </receiver>

        <activity android:name=".QRCodeDisplay" android:exported="true" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RedeemLoyaltyCardActivity"
            android:label="@string/redeem_loyalty_card_button">
            <intent-filter>
                <action android:name="clover.intent.action.MODIFY_ORDER"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>