<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CloverReceiptDisplay">
        <activity
            android:name=".Main"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--activity
            android:name=".DisplayLoyaltyCardRedeem"
            android:label="Display loyalty card redemption">
            <intent-filter>
                <action android:name="clover.intent.action.MODIFY_ORDER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity-->

        <receiver
            android:name=".BroadcastReceiverPaymentProcessed"
            android:exported="true"
            android:enabled="true">

            <intent-filter>
                <action android:name="com.clover.intent.action.PAYMENT_PROCESSED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".BroadcastReceiverAppNotification"
            android:exported="true"
            android:enabled="true">

            <intent-filter>
                <action android:name="com.clover.sdk.app.intent.action.APP_NOTIFICATION" />
            </intent-filter>
        </receiver>

        <activity android:name=".QRCodeDisplay"
            android:label="@string/qr_receipt_activity_title">
            <intent-filter>
                <action android:name="clover.intent.action.MODIFY_ORDER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".LoyaltyRedeemedMessageDisplay"
            android:label="@string/qr_receipt_activity_title">
        </activity>
    </application>

</manifest>